@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Base / App background
========================= */
@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
